.Main
  .Main__top
    .left1
      = @group.name
    .left2
      Member:
      - @group.users.each do |user|
        = user.name
    .btn
      = link_to edit_group_path(@group.id) do 
        edit
  .Messagelist
    =render @messages
  .footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form
        .form_contents
          = f.text_field :content, class: 'inputcontents', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image', class: "form_icon")
            = f.file_field :image, class: 'file-image'
        .form_submit
          = f.submit 'Send', class: 'btn'